<% if prompt.result_for?(group:, persona:) %>
  <% if group == :income %>
    <h2 class="govuk-heading-m"> <%= t("evidence.persona.#{persona}.heading") %> </h2>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-1"><%= title %>:</p>

  <ul class="govuk-body">
    <% prompt.result_for(group:, persona:).each do |rule| %>
      <% rule[:run][persona][:prompt].each do |sentence| %>
        <li
          data-rule-name="<%=rule[:id] %>"
          data-rule-key="<%=rule[:key] %>">
          <%= sentence %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
