<div class="govuk-summary-list__row app-uploaded-file" id="<%= document.id %>">
  <dt class="govuk-summary-list__value">
    <span class="app-uploaded-file__filename">
      <%= govuk_link_to(
            document.filename,
            download_crime_application_document_path(document.crime_application, document),
          ) %>
    </span>

    <% if document.s3_object_key %>
      <%= govuk_tag(text: t('steps.evidence.upload.edit.uploaded'), colour: 'green', classes: 'app-uploaded-file__status') %>
    <% else %>
      <% document.valid?(:storage) %>

      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= document.errors.first.full_message %>
      </p>
    <% end %>
  </dt>
  <dd class="govuk-summary-list__actions">
    <%= button_to t('.remove_button'), steps_evidence_upload_path, method: :put,
                                       value: document.id.to_s,
                                       name: :document_id,
                                       class: 'app-button--link app-uploaded-file__delete' %>
  </dd>
</div>
