<div id="uploaded-files" class="<%= documents.present? ? '' : 'app-evidence-upload-hidden' %>">
  <h2 class="govuk-heading-m"> <%= t('steps.evidence.upload.edit.uploaded_files_heading') %></h2>
  <p class="govuk-body"><%= t('steps.evidence.upload.edit.uploaded_files_info') %></p>

  <h3 class="govuk-heading-s"> <%= t('steps.evidence.upload.edit.file_name') %></h3>
  <dl class="govuk-summary-list app-uploaded-files">
    <%= render partial: 'steps/evidence/upload/uploaded_file',
               collection: documents, as: :document %>
  </dl>
</div>
