<% if cifc  %>
  <%= govuk_warning_text(text: t("#{i18n_scope}.cifc_warning")) %>
<% elsif prompt.exempt? %>
  <p class="govuk-body" data-ruleset="<%= prompt.ruleset %>">
    <%= t("#{i18n_scope}.exempt", reasons: prompt.exempt_reasons.to_sentence) %>
  </p>
<% elsif prompt.required? %>
  <%= govuk_warning_text(text: t("#{i18n_scope}.reject_warning")) %>

  <% if client_remanded || in_crown_court %>
    <p class="govuk-body govuk-!-font-weight-bold"> The exceptions are: </p>
    <ul class="govuk-list govuk-list--bullet">
      <% if client_remanded %>
        <li class="govuk-!-font-weight-bold">your client is in court custody</li>
      <% end %>
      <% if in_crown_court %>
        <li class="govuk-!-font-weight-bold">a Crown Court trial, for which you have up to 14 days to provide the evidence</li>
      <% end %>
    </ul>
  <% end %>

  <p class="govuk-body" data-ruleset="<%= prompt.ruleset %>">
    <%= t("#{i18n_scope}.required") %>
  </p>
<% else %>
  <p class="govuk-body" data-ruleset="None">
    <%= t("#{i18n_scope}.optional") %>
  </p>
<% end %>

<p class="govuk-body">
  <%= t("#{i18n_scope}.recent_docs") %>
</p>
