<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="upload-page">
    <%= render partial: 'shared/flash_banner' %>
    <%= govuk_error_summary(@form_object) %>

    <%# Required to display dropzone error messages %>
    <%= render partial: 'steps/evidence/upload/upload_error_summary' %>

    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

    <% if @form_object.application_type == 'change_in_financial_circumstances'  %>
      <%= govuk_warning_text(text: t('.cifc_warning')) %>
    <% elsif @form_object.prompt.exempt? %>
      <p class="govuk-body" data-ruleset="<%= @form_object.prompt.ruleset %>">
        <%= t('.exempt', reasons: @form_object.prompt.exempt_reasons.to_sentence) %>
      </p>
    <% elsif @form_object.prompt.required? %>
      <%= govuk_warning_text(text: t('.reject_warning')) %>

      <p class="govuk-body" data-ruleset="<%= @form_object.prompt.ruleset %>">
        <%= t('.required') %>
      </p>
    <% else %>
      <p class="govuk-body" data-ruleset="None">
        <%= t('.optional') %>
      </p>
    <% end %>

    <!-- Client & Partner evidence -->
    <% [:client, :partner].each do |persona| %>
      <% [:income, :outgoings, :capital, :none].each do |group| %>
        <%= render partial: 'steps/evidence/upload/prompt',
                   locals: { prompt: @form_object.prompt, group: group, persona: persona, title: t("evidence.persona.#{persona}.#{group}") } %>
      <% end %>
    <% end %>

    <!-- Other evidence only shows :none group -->
    <%= render partial: 'steps/evidence/upload/prompt',
               locals: { prompt: @form_object.prompt, group: :none, persona: :other, title: t('evidence.persona.other') } %>

    <p class="govuk-body">
      <%= t('.recent_docs') %>
    </p>

    <p class="govuk-body">
      <%= t('.rename_files') %>
    </p>

    <div class="govuk-form-group" id="upload-form">
      <h2 class="govuk-heading-m">
        <%= t('.upload_files_heading') %>
        <span class="govuk-caption-m govuk-!-padding-top-2">
          <%= t('.upload_files_info', max_size: FileUploadValidator::MAX_FILE_SIZE) %>
        </span>
      </h2>

      <%# Required to display dropzone error messages %>
      <p class="govuk-error-message app-evidence-upload-hidden" id="dropzone-error-message">
        <span class="govuk-visually-hidden">Error:</span>
      </p>

      <%= form_for @form_object, html: { id: 'dz-evidence-upload-form' },
                   url: crime_application_documents_path,
                   method: :post, multipart: true do |f| %>

        <%= f.button t('.choose_files_button'),
                     id: 'choose_files_button',
                     class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-visually-hidden',
                     type: 'button',
                     data: { module: 'govuk-button' } %>

        <div class="fallback">
          <%# Keep `multiple` to false. This only affects non-javascript version, dropzone %>
          <%# will still support multiple files. This greatly simplifies backend with little downside %>
          <%= f.govuk_file_field :document, multiple: false,
                                 label: { size: 'm' }, class: 'govuk-file-upload' %>

          <%= f.button t('.upload_file_button'),
                       class: 'govuk-button govuk-button--secondary',
                       data: { module: 'govuk-button' } %>
        </div>
    <% end %>
    </div>

    <div class="app-multi-file__uploaded-files">
      <%= step_form @form_object do |f| %>
        <div id="upload-table-dropzone" class="app-evidence-upload-hidden">
          <%= render partial: 'steps/evidence/upload/uploaded_files', locals: { documents: @form_object.documents.stored } %>
        </div>

        <div id="upload-table-fallback">
          <% if @form_object.documents.present? %>
            <%= render partial: 'steps/evidence/upload/uploaded_files', locals: { documents: @form_object.documents } %>
          <% end %>
        </div>

        <%= f.continue_button %>
      <% end %>
    </div>
  </div>
</div>
