<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="upload-page">
    <%= render partial: 'shared/flash_banner' %>
    <%= govuk_error_summary(@form_object) %>

    <%# Required to display dropzone error messages %>
    <%= render partial: 'steps/evidence/upload/upload_error_summary' %>

    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

    <%= render partial: 'steps/evidence/upload/upload_information', locals: { i18n_scope: 'steps.evidence.upload.edit',
                                                                              prompt: @form_object.prompt,
                                                                              cifc: @form_object.cifc?,
                                                                              client_remanded: @form_object.kase&.is_client_remanded == 'yes',
                                                                              in_crown_court: @form_object.kase&.case_type == CaseType::ALREADY_IN_CROWN_COURT.to_s } %>

    <%= render partial: 'steps/evidence/upload/prompt_list', locals: { form_object: @form_object } %>

    <%= render partial: 'steps/evidence/upload/upload_form', locals: { i18n_scope: 'steps.evidence.upload.edit',
                                                                       form_object: @form_object } %>

    <%= render partial: 'steps/evidence/upload/uploaded_files_table', locals: { form_object: @form_object } %>
  </div>
</div>
