<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset(:has_case_concluded, legend: { tag: 'h1', size: 'xl' }) do %>
        <% @form_object.choices.each_with_index do |choice, index| %>
          <% if choice == YesNoAnswer::YES %>
            <%= f.govuk_radio_button :has_case_concluded, choice.value do %>
              <%= f.date_input :date_case_concluded, legend: { text: t('.date_case_concluded',), size: 's' } %>
            <% end %>
          <% else %>
            <%= f.govuk_radio_button :has_case_concluded, choice.value, link_errors: index.zero? %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
