<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>
    <%= govuk_error_summary(@form_object) %>

    <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%=t '.heading', count: @form_object.savings.size %>
    </h1>

    <dl class="govuk-summary-list">
      <% @form_object.savings.present_each(SavingPresenter) do |saving| %>
        <%= render partial: 'saving_details', locals: { saving: saving, show_actions: true } %>
      <% end %>
    </dl>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :add_saving, @form_object.choices, :value,
                                           inline: true %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
