<%= form_with url: search_application_searches_path, model: application_search_filter, scope: :filter, method: :post, class: 'search', id: 'search_filter' do |f| %>

  <%= f.govuk_fieldset legend: { text: nil } do %>
    <div class="input-group">
      <%= f.govuk_text_field(
            :search_text,
            label: { text: t('helpers.hint.search'), size: 's', class: 'govuk-!-margin-bottom-4' },
            autocomplete: 'off'
          ) %>
    </div>

    <div class="govuk-button-group">
      <%= f.govuk_submit t('helpers.submit.search') %>
      <%= link_to t('helpers.submit.clear'), new_application_searches_path, class: 'govuk-link' %>
    </div>
  <% end %>
<% end %>
