<% title 'Search' %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/contingent_liability_notice' %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5"><%= t('search.heading') %></h1>
    <p class="govuk-body"><%= t('search.subheading', current_office_code:) %></p>
    <%= render @search.filter %>
  </div>
</div>

<% if @search.results.empty? %>
  <%= render 'no_search_results' %>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        <%= t('search.total', count: @search.total) %>
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full app-table-container">
      <table class="govuk-table app-table" aria-roledescription="." aria-label="<%= t('search.table_label') %> <%= t('search.total', count: @search.total) %>">
        <%= render DataTable::HeadComponent.new(sorting: @search.sorting, filter: @search.filter) do |head|
              head.with_row do |row|
                row.with_cell(colname: 'applicant_name')
                row.with_cell(colname: 'submitted_at')
                row.with_cell(colname: 'reference')
                row.with_cell(colname: 'application_type')
                row.with_cell(colname: 'application_status')
              end
            end %>
        <tbody class="govuk-table__body">
          <% @search.results.each do |result| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                <%= govuk_link_to result.applicant_name, completed_crime_application_path(result), no_visited_state: true %>
              </th>
              <td class="govuk-table__cell">
                <%= l(result.submitted_at) %>
              </td>
              <td class="govuk-table__cell">
                <%= result.reference %>
              </td>
              <td class="govuk-table__cell">
                <%= t("crime_applications.index.application_type.#{result.application_type}") %>
              </td>
              <td class="govuk-table__cell">
                <%= t(result.review_status, scope: 'review_status') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @search.pagination %>
    </div>
  </div>
<% end %>
