<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <%= render partial: 'shared/flash_banner' %>

    <% unless current_crime_application.income.valid?(:submission) %>
      <%= render partial: 'steps/shared/error_warning' %>
    <% end %>

    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%=t '.heading' %>
    </h1>

    <h1 class="govuk-heading-l"><%= t('.subheading.client') %></h1>

    <%= render @presenter.income_sections %>

    <% if current_crime_application.client_has_partner == YesNoAnswer::YES.to_s %>
    <h1 class="govuk-heading-l"><%= t('.subheading.partner') %></h1>

    <%= render @presenter.partner_income_sections %>
    <!-- For both client and partner's -->
    <%= render @presenter.other_income_sections %>
    <% end %>

    <%= step_form @form_object do |f| %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
