<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <% @form_object.before_or_after_tax = @form_object.record.before_or_after_tax['value'] if @form_object.record.before_or_after_tax %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_field :job_title, autocomplete: 'off', width: 'one-third', label: { tag: 'h2', size: 'm' } %>
      <%= f.govuk_number_field :amount, autocomplete: 'off', inputmode: 'numeric', width: 'one-third', prefix_text: '£', label: { tag: 'h2', size: 'm' } %>
      <%= f.govuk_collection_radio_buttons(:before_or_after_tax, @form_object.before_or_after_tax_options, :value, legend: { tag: 'h3', size: 's', class: 'govuk-!-font-weight-regular' }) %>
      <%= f.govuk_collection_radio_buttons :frequency, PaymentFrequencyType.values, :value, legend: { tag: 'h3', size: 's', class: 'govuk-!-font-weight-regular' } %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
