<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <% heading = current_crime_application.is_means_tested == 'no' ? '.optional_nino' : '.nino'%>

      <%= f.govuk_text_field :nino, autocomplete: 'off', width: 'one-third',
                             extra_letter_spacing: true,
                             label: { text: t(heading), tag: 'h1', size: 'xl' } %>

      <p class='govuk-body govuk-!-margin-bottom-6'>
        <%= link_to t('.eforms_link'), steps_client_nino_exit_path %>
      </p>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
