<% @form_object = decorate(@form_object, AddressFormDecorator) %>

<% title t(@form_object.page_title) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t @form_object.heading %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_field :postcode, autocomplete: 'off', width: 'one-third' %>

      <p class="govuk-body govuk-!-margin-bottom-2">
        <%= link_to t('.manual_entry'), edit_steps_address_details_path %>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <%= button_tag t('.no_address'), name: :clear_address, class: 'app-button--link' if @form_object.home_address? %>
      </p>

      <%= f.continue_button(primary: :find_address) %>
    <% end %>
  </div>
</div>
