<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :correspondence_address_type,
                                           @form_object.choices,
                                           :value %>

      <%= f.govuk_phone_field :telephone_number, autocomplete: 'off', width: 'one-third',
                              extra_letter_spacing: true,
                              label: { size: 'm' } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
