<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text"><%= t('.heading')%></h1>
    <p class="govuk-body-l app-inverted-text"><%= l(current_crime_application.date_stamp, format: :datetime_at) %></p>

    <p class="govuk-body-m app-inverted-text"><%= t('.reference_number_html', reference: current_crime_application.reference)%>:</p>
    <p class="govuk-body-m govuk-!-font-weight-bold app-inverted-text">Name: <%= t('.applicant_name_html', first_name: current_crime_application.applicant.first_name, last_name: current_crime_application.applicant.last_name)%></p>
    <p class="govuk-body-m govuk-!-font-weight-bold app-inverted-text">Date of birth: <%= t('.applicant_dob_html', date_of_birth: l(current_crime_application.applicant.date_of_birth, format: :dob)) %></p>

    <%= step_form @form_object do |f| %>
      <%= f.continue_button(primary_opts: { class: 'app-button--m app-button--inverted' }) %>
    <% end %>
  </div>
</div>
