<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
  </div>
</div>

<div class="govuk-grid-row app-inverted--card app-inverted-text govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l app-inverted-text" id="cannot-check-benefit-status-desc">
      <%= t '.heading' %>
    </h1>
    <h2 class="govuk-heading-m app-inverted-text">
    <%= t '.upload_evidence' %>
    </h2>
    <h2 class="govuk-heading-m app-inverted-text">
      <%= t '.rejection_warning' %>
    </h2>
    <h2 class="govuk-heading-m app-inverted-text">
      <%= t '.deadline' %>
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= step_form @form_object do |f| %>
    <div class="govuk-!-margin-bottom-7">
      <% @form_object.choices.each do |option| %>
        <%= f.govuk_radio_button :will_enter_nino, option %>
      <% end %>
    </div>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
