<% title t('steps.income.caption') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :applicant_self_assessment_tax_bill, legend: { tag: 'h1', size: 'xl' } do %>
        <%= f.govuk_radio_button :applicant_self_assessment_tax_bill, YesNoAnswer::YES do %>
          <%= f.govuk_number_field(:applicant_self_assessment_tax_bill_amount,
                                   prefix_text: '£',
                                   width: 'one-half') %>
          <%= f.govuk_collection_radio_buttons(:applicant_self_assessment_tax_bill_frequency,
                                               PaymentFrequencyType.values,
                                               :value,
                                               legend: { size: 's',
                                                         class: 'govuk-!-font-weight-regular' }) %>
        <% end %>
        <%= f.govuk_radio_button :applicant_self_assessment_tax_bill, YesNoAnswer::NO %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
