<% return unless return_details %>

<div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      <%= t(".heading.#{return_details.reason}") %>
    </h3>

    <%= t(".explanation.#{return_details.reason}_html", default: t('.explanation.default_html')) %>

    <%= simple_format(t('.caseworker_details', details: return_details.details), { class: 'govuk-body' }) %>

    <%= button_to recreate_completed_crime_application_path, method: :put,
                  class: 'govuk-button app-button--blue govuk-!-margin-bottom-2 app-no-print',
                  data: { module: 'govuk-button' } do; t(".action.#{return_details.reason}", default: t('.action.default')); end %>
  </div>
</div>
