<div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <%
      is_split_case = return_details.reason.downcase == 'split_case'
    %>

    <h3 class="govuk-notification-banner__heading">
      <% if is_split_case %>
        <%= t('.split_case_heading') %>
      <% else %>
        <%= t('.heading', reason: t(".reasons.#{return_details.reason}", default: '')) %>
      <% end %>
    </h3>

    <%= simple_format(t('.split_case_explanation'), { class: 'govuk-body' }) if is_split_case %>

    <%= simple_format(t('.notes', reason: return_details.details), { class: 'govuk-body' }) %>

    <%= button_to recreate_completed_crime_application_path, method: :put,
                  class: 'govuk-button app-button--blue govuk-!-margin-bottom-2 app-no-print',
                  data: { module: 'govuk-button' } do; is_split_case ? t('.split_case_action') : t('.action'); end %>
  </div>
</div>
