<% title t('.page_title') %>
<% step_header(path: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading')%></h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border app-summary-list--compact">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.laa_reference') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @crime_application.laa_reference %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.date_stamp') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(@crime_application.date_stamp, format: :datetime) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.date_submitted') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(@crime_application.submitted_at, format: :datetime) %>
        </dd>
      </div>
    </dl>

    <div class="govuk-inset-text govuk-!-margin-bottom-8">
      <p class="govuk-body">
        <%= t('.helpline.intro') %>
      </p>
      <p class="govuk-body">
        <%= t('.helpline.phone') %>
        <br>
        <%= t('.helpline.hours') %>
      </p>
    </div>

    <%= link_button t('.print_application'), '#', onclick: 'window.print(); return false;' %>

    <%= render @presenter.sections %>

    <div class="govuk-button-group govuk-!-margin-top-8">
      <%= link_button t('.print_application'), '#', onclick: 'window.print(); return false;' %>
      <%= link_button t('.back_to_applications'), crime_applications_path, class: 'govuk-button--secondary' %>
    </div>
  </div>
</div>
