<% title t(".heading.#{@crime_application.application_type}") %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
          partial: 'return_notification',
          locals: { return_details: @crime_application.return_details }
        ) %>

    <%= render(
          partial: 'funding_decision_notification',
          locals: { application: @crime_application }
        ) %>

    <div class="govuk-!-margin-bottom-6">
      <% if @crime_application.review_status.present? %>
        <%= govuk_tag(text: t(@crime_application.review_status, scope: 'review_status'), colour: 'blue') %>
      <% end %>
      <% if @crime_application.decisions.present? %>
          <%= govuk_link_to(t('.view_funding_decision'), '#funding_decisions', no_visited_state: true, class: 'govuk-!-margin-left-2 govuk-body-m') %>
      <% end %>
    </div>

    <p class="govuk-body-l govuk-!-margin-bottom-1">
      <%= @crime_application.reference %>
    </p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      <%= @crime_application.applicant.full_name %>
    </h1>

    <h2 class="govuk-heading-l"><%= t(".heading.#{@crime_application.application_type}") %></h2>

    <% if @crime_application.can_be_withdrawn? %>
      <div class="govuk-inset-text">
        <p class="govuk-body">
          <%= t('.helpline.intro') %>
        </p>
        <p class="govuk-body">
          <%= t('.helpline.phone') %>
          <br>
          <%= t('.helpline.hours') %>
        </p>
      </div>
    <% end %>

    <div class="govuk-!-margin-top-6 app-no-print">
      <%= link_button t('.print_application'), '#', data: { module: 'print' } %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render @presenter.sections %>

    <div class="govuk-button-group govuk-!-margin-top-8 app-no-print">
      <%= link_button t('.print_application'), '#', data: { module: 'print' } %>
      <%= link_button t('helpers.back_to_applications'), crime_applications_path, class: 'govuk-button--secondary' %>
    </div>

    <% if @crime_application.can_receive_pse? %>
      <div class="govuk-button-group govuk-!-margin-top-5 app-no-print">
          <%= button_to create_pse_completed_crime_application_path,
                        class: 'govuk-button app-button--blue govuk-!-margin-bottom-2 app-no-print',
                        data: { module: 'govuk-button' } do; t('.action.create_pse'); end %>
      </div>
    <% end %>
  </div>
</div>
