<% title t('.page_title') %>
<% step_header(path: crime_applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%=t('.heading', applicant_name: @crime_application.applicant_name) %>
    </h1>

    <p class="govuk-body">
      <%= t('.subheading') %>
    </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden"><%= t('.warning.title') %></span>
        <%= t('.warning.text') %>
      </strong>
    </div>

    <%= form_with url: crime_application_path, method: :delete do |f| %>
      <div class="govuk-button-group">
        <%= f.button t('.confirm_delete_button'),
                     class: 'govuk-button govuk-button--warning',
                     data: { module: 'govuk-button' },
                     'aria-label': t('.confirm_delete_button_a11y') %>

        <%= link_button t('.cancel_delete_button'),
                        crime_applications_path,
                        class: 'govuk-button--primary',
                        'aria-label': t('.cancel_delete_button_a11y') %>
      </div>
    <% end %>
  </div>
</div>
