<% title t('.page_title') %>
<% step_header(path: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%=t '.subheading' %>
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= t('.progress_counter', completed: @tasklist.completed.size, total: @tasklist.size) %>
    </p>

    <%= @tasklist.render %>

    <%= link_button t('.back_to_applications'), crime_applications_path, class: 'govuk-button--secondary' %>
  </div>

  <div class="govuk-grid-column-one-third app-grid-column--sticky">
    <aside class="app-aside__bar--blue" role="complementary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <%= t('.reference') %>
      </h3>
      <p class="govuk-body">
        <%= @crime_application.laa_reference %>
      </p>
    </aside>
  </div>
</div>
