<% title t(@crime_application.application_type, scope: %i[tasklist heading_text]) %>
<% step_header(path: :back) %>

<div class="govuk-grid-row app-tasklist-layout">
  <div class="govuk-grid-column-two-thirds app-tasklist-layout__intro">
    <h1 class="govuk-heading-xl">
      <%= t(@crime_application.application_type, scope: %i[tasklist heading_text]) %>
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= t '.subheading' %>
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= t(
            '.progress_counter',
            completed: @tasklist.completed.size,
            total: @tasklist.applicable.size,
          ) %>
    </p>
  </div>

  <div class="govuk-grid-column-one-third app-grid-column--sticky app-tasklist-layout__aside">
    <aside class="app-aside__bar--blue" role="complementary">
      <h3 class="govuk-heading-s">
        <%= t('.aside.reference') %>
      </h3>
      <p class="govuk-body">
        <%= @crime_application.reference %>
      </p>

      <% if @crime_application.applicant? %>
        <h3 class="govuk-heading-s">
          <%= t('.aside.first_name') %>
        </h3>
        <p class="govuk-body">
          <%= @crime_application.applicant.first_name %>
        </p>

        <h3 class="govuk-heading-s">
          <%= t('.aside.last_name') %>
        </h3>
        <p class="govuk-body">
          <%= @crime_application.applicant.last_name %>
        </p>

        <h3 class="govuk-heading-s">
          <%= t('.aside.date_of_birth') %>
        </h3>
        <p class="govuk-body">
          <%= @crime_application.applicant_dob %>
        </p>

        <% if @crime_application.interim_date_stamp %>
          <h3 class="govuk-heading-s">
            <%= t('.aside.date_stamp') %>
          </h3>
          <p class="govuk-body">
            <%= @crime_application.interim_date_stamp %>
          </p>
        <% end %>
      <% end %>
    </aside>
  </div>

  <div class="govuk-grid-column-two-thirds app-tasklist-layout__body">
    <%= render TaskList::SectionComponent.with_collection(@tasklist.sections) %>

    <%= link_button t('helpers.back_to_applications'),
                    crime_applications_path,
                    class: 'govuk-button--secondary' %>
  </div>
</div>
