<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= button_to crime_applications_path,
                  class: 'govuk-button govuk-button--start',
                  data: { module: 'govuk-button' } do; t('.start_button'); end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table app-dashboard-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t('.table_headings.applicant_name') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.table_headings.created_at') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.table_headings.reference') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.table_headings.status') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.table_headings.action') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @applications.present_each(ApplicationPresenter) do |app| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <%= link_to app.full_name, edit_crime_application_path(app) %>
            </th>
            <td class="govuk-table__cell">
              <%= app.start_date %>
            </td>
            <td class="govuk-table__cell">
              LAA-a1234b
            </td>
            <td class="govuk-table__cell">
              <%= app.status_tag %>
            </td>
            <td class="govuk-table__cell">
              <%= button_to confirm_destroy_crime_application_path(app), method: :get,
                class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0',
                data: { module: 'govuk-button' } do; t('.delete_button'); end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
