<% title t('.page_title') %>

<%= render partial: 'shared/dashboard_header' %>

<%= render partial: 'shared/subnavigation' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full app-table-container">
    <% if @applications.empty? %>
      <h2 class="govuk-heading-m">
        <%= t("shared.errors.no_records.#{status_filter}") %>
      </h2>
    <% else %>
      <table class="govuk-table app-dashboard-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t('.table_headings.applicant_name') %></th>
            <th scope="col" class="govuk-table__header" aria-sort="<%= aria_sort('created_at') %>">
              <%=
                button_to(
                  t('.table_headings.created_at'),
                  crime_applications_path, method: :get,
                  params: { sort_by: 'created_at', sort_direction: flipped_sort_direction }
                )
              %>
            </th>
            <th scope="col" class="govuk-table__header"><%= t('.table_headings.reference') %></th>
            <th scope="col" class="govuk-table__header"><%= t('.table_headings.application_type') %></th>
            <th scope="col" class="govuk-table__header"><%= t('.table_headings.action') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @applications.present_each(CrimeApplicationPresenter) do |app| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <%= link_to app.applicant_name, edit_crime_application_path(app),
                            class: 'govuk-link--no-visited-state' %>
              </th>
              <td class="govuk-table__cell">
                <%= l(app.created_at) %>
              </td>
              <td class="govuk-table__cell">
                <%= app.reference %>
              </td>
              <td class="govuk-table__cell"><%= app.application_type.humanize %></td>
              <td class="govuk-table__cell">
                <%= button_to confirm_destroy_crime_application_path(app), method: :get,
                  class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0',
                  'aria-label': t('.delete_button_a11y', applicant_name: app.applicant_name),
                  data: { module: 'govuk-button' } do; t('.delete_button'); end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @applications %>
    <% end %>
  </div>
</div>
