<% title t('.page_title') %>

<%= render partial: 'shared/dashboard_header' %>

<%= render partial: 'shared/subnavigation' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full app-table-container">
    <% if @applications.empty? %>
      <h2 class="govuk-heading-m">
        <%= t('shared.errors.no_records') %>
      </h2>
    <% else %>
      <table class="govuk-table app-dashboard-table">

        <%= render DataTable::HeadComponent.new(sorting: @sorting) do |head|
              head.with_row do |row|
                row.with_cell(colname: 'applicant_name')
                row.with_cell(colname: 'created_at')
                row.with_cell(colname: 'reference')
                row.with_cell(colname: 'application_type')
                row.with_cell(colname: 'action')
              end
            end %>
        <tbody class="govuk-table__body">
          <% @applications.present_each(CrimeApplicationPresenter) do |app| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                <%= govuk_link_to app.applicant_name, edit_crime_application_path(app), no_visited_state: true %>
              </th>
              <td class="govuk-table__cell">
                <%= l(app.created_at) %>
              </td>
              <td class="govuk-table__cell">
                <%= app.reference %>
              </td>
              <td class="govuk-table__cell"><%= app.application_type.humanize %></td>
              <td class="govuk-table__cell">
                <%= govuk_link_to t('.delete_button'), confirm_destroy_crime_application_path(app) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @applications %>
    <% end %>
  </div>
</div>
