<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl">
      <%=t '.heading', count: @form_object.charges.size %>
    </h1>

    <dl class="govuk-summary-list">
      <% @form_object.charges.present_each(ChargePresenter) do |charge| %>
        <%= render partial: 'offence_details', locals: { charge: charge, show_actions: true } %>
      <% end %>
    </dl>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :add_offence, @form_object.choices, :value,
                                           inline: true %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
