<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl">
      <%=t '.heading', count: @form_object.charges.size %>
    </h1>

    <dl class="govuk-summary-list">
      <% @form_object.charges.present_each(ChargePresenter) do |charge| %>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-margin-bottom-1">
              <%= charge.offence_name %>
            </p>

            <% if charge.offence_class %>
              <p class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-top-0">
                <%= t('.list.offence_class', class: charge.offence_class) %>
              </p>
            <% end %>

            <% charge.offence_dates.each do |date| %>
              <p class="govuk-body govuk-!-margin-bottom-0"><%= l(date) %></p>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to t('.list.change_link_html'), edit_steps_case_charges_path(charge_id: charge) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to t('.list.remove_link_html'), '#' %>
          </dd>
        </div>
      <% end %>
    </dl>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :add_offence, @form_object.choices, :value,
                                           inline: true %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
