<% title legend_t(:housing_payment_type) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.outgoings.caption') %></span>

    <%= govuk_error_summary(@form_object) %>

     <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :housing_payment_type, legend: { text: legend_t(:housing_payment_type), tag: 'h1', size: 'xl' } do %>
        <% @form_object.choices.each_with_index do |option, index| %>
          <%= f.govuk_radio_divider I18n.t('divider_text') if option.none? %>
          <%= f.govuk_radio_button :housing_payment_type, option, link_errors: index.zero? %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
