<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <%= govuk_error_summary(@form_object) %>
   </div>
</div>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column app-inverted-text">
    <h1 class="govuk-heading-l app-inverted-text"><%= t '.heading' %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :confirm_result, @form_object.choices, :value,
                                           inline: false %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
