<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_field :home_postcode, autocomplete: 'off', width: 'one-third' %>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <%= link_to t('.manual_entry'), edit_steps_contact_home_address_path %>
      </p>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
