<% title t('.page_title') %>
<% step_header(path: returned_applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading', applicant_name: @crime_application.applicant_name) %>
    </h1>

    <p class="govuk-body">
      <%= t('.subheading', application_status: @crime_application.status.to_s.humanize(capitalize: false)) %>
    </p>

    <%= form_with url: archive_returned_application_path do |f| %>
      <div class="govuk-button-group">
        <%= f.button t('.confirm_delete_button'),
                     class: 'govuk-button govuk-button--warning',
                     data: { module: 'govuk-button' } %>

        <%= govuk_link_to t('.go_back_link'), returned_applications_path, no_visited_state: true %>
      </div>
    <% end %>
  </div>
</div>
