<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-xl"><%= t('.heading')%></h1>

        <p class="govuk-body">
          You can do one of the following:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= step_form @form_object do |f| %>
              go back and <%= f.button 'try again now', class: 'app-button--link' %>
            <% end %>
          </li>
          <li>continue with this application to upload supporting evidence</li>
          <li>save and come back later to try again</li>
        </ul>
    </div>

    <div class="govuk-button-group">
      <%= link_button t('helpers.submit.save_and_continue'), edit_steps_client_has_benefit_evidence_path,
                      class: 'govuk-button--primary' %>

      <%= link_button t('helpers.submit.save_and_come_back_later'), edit_crime_application_path,
                      class: 'govuk-button--secondary' %>
    </div>
  </div>
</div>
