<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body">
      <%= t('.explanation') %>
    </p>

    <p class="govuk-body">
      <%= t('.use_eforms') %>
    </p>

    <p class="govuk-body">
      <%= t('.saved_answers') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= step_form @form_object do |f| %>
      <div class="govuk-button-group">
        <%= f.continue_button(primary: :try_again, secondary: nil) %>
        <%= link_button t('helpers.submit.apply_in_eforms'), Settings.eforms_url, class: 'govuk-button--secondary' %>
      </div>
    <% end %>
  </div>
</div>
