<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <%= render partial: 'shared/flash_banner' %>

    <% unless current_crime_application.outgoings.valid?(:submission) %>
      <%= render partial: 'steps/shared/error_warning' %>
    <% end %>

    <span class="govuk-caption-xl"><%= t('steps.outgoings.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%=t '.heading' %>
    </h1>

    <h2 class="govuk-heading-l"><%= t('.subheading') %></h2>

    <%= render @presenter.outgoings_sections %>

    <%= step_form @form_object do |f| %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
