<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl">
      <%= t(".heading.#{@form_object.investment_type}") %>
    </h1>

    <p><%= t('.info') %></p>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_area :description, label: { tag: 'h2', size: 'm'}, autocomplete: 'off', hint: { text: hint_t(:description) }  %>
      <%= f.govuk_number_field :value, label: { tag: 'h2', size: 'm'}, inputmode: 'numeric', prefix_text: '£', width: 'one-third' %>

      <%= render partial: 'steps/shared/ownership_form_fields', locals: { f: f, values: OwnershipType.values } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
