<% title t('.page_title') %>
<% step_header(path: crime_applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">
        <% if @crime_application.resubmission? %>
          <%= t(".heading.#{@crime_application.application_type}") %>
        <% else %>
          <%= t(".heading.#{@crime_application.application_type}") %>
        <% end %>
      </h1>
      <div class="govuk-panel__body">
        <%= t('.reference') %><br>
        <strong>
          <%= @crime_application.reference %>
        </strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      <%= t('.what_happens_next.sub_heading') %>
    </h2>

    <p class="govuk-body">
      <%= t(".what_happens_next.#{@crime_application.application_type}") %>
    </p>

    <p class="govuk-body">
      <%= link_to 'Give feedback', Settings.feedback_survey_url, rel: 'external' %> to help us improve this service.
    </p>

    <div class="govuk-button-group govuk-!-margin-top-8">
      <%= link_button t(".view_application.#{@crime_application.application_type}"), completed_crime_application_path %>
      <%= link_button t('helpers.back_to_applications'), crime_applications_path, class: 'govuk-button--secondary' %>
    </div>
  </div>
</div>
