<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <% unless current_crime_application.valid?(:submission) %>
      <div class="govuk-error-summary">
        <% current_crime_application.errors.each do |e| %>
          <h2 class="govuk-error-summary__title govuk-!-margin-bottom-0">
            <%= e.message %>
          </h2>
        <% end %>
      </div>
    <% end %>

    <h1 class="govuk-heading-xl"><%= t('.heading')%></h1>

    <%= render @presenter.sections %>

    <%= step_form @form_object, html: { class: 'govuk-!-padding-top-6' } do |f| %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
