<% @form_object = present(@form_object, AddressFormPresenter) %>

<% title t(@form_object.page_title) %>
<% step_header %>

<% addresses = @form_object.addresses %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t @form_object.heading %></h1>

    <h2 class="govuk-heading-m"><%=t '.current_postcode' %></h2>

    <p class="govuk-body">
      <strong><%= @form_object.postcode %></strong>
      <%= link_to t('.change_postcode_html'), edit_steps_address_lookup_path, class: 'govuk-link govuk-!-margin-left-4' %>
    </p>

    <% if addresses.any? %>

      <%= step_form @form_object do |f| %>
        <%= f.govuk_collection_select :lookup_id, addresses, :lookup_id, :compact_address %>

        <p class="govuk-body govuk-!-margin-bottom-6">
          <%= link_to t('.address_not_listed'), edit_steps_address_details_path %>
        </p>

        <%= f.continue_button %>
      <% end %>

    <% else %>

      <p class="govuk-body">
        <%=t '.no_results.info' %>
      </p>

      <%= link_button t('.no_results.manual_entry'), edit_steps_address_details_path %>
    <% end %>
  </div>
</div>
