<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= govuk_error_summary(@form_object) %>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset(:additional_information_required, legend: { tag: 'h2', size: 'm' }) do %>
        <% @form_object.choices.each_with_index do |choice, index| %>
          <% if choice.yes? %>
            <%= f.govuk_radio_button :additional_information_required, choice.value do %>
              <%= f.govuk_text_area :additional_information %>
            <% end %>
          <% else %>
            <%= f.govuk_radio_button :additional_information_required, choice.value, link_errors: index.zero? %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
