<% title legend_t(:details) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=legend_t(:details) %></h1>

    <p class="govuk-!-margin-bottom-7"><%= t('.info') %></p>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_field :trading_name, autocomplete: 'off', label: { tag: 'h2', size: 'm' } %>


      <%= f.govuk_label :address_line_one, text: 'hi' %>

      <%= f.govuk_text_field :address_line_one, autocomplete: 'off', label: { tag: 'h2', size: 'm' }  %>
      <%= f.govuk_text_field :address_line_two, autocomplete: 'off', label: { tag: 'h2', size: 'm' }  %>
      <%= f.govuk_text_field :city, autocomplete: 'off', width: 'one-half', label: { tag: 'h2', size: 'm' }  %>
      <%= f.govuk_text_field :country, autocomplete: 'off', width: 'one-half', label: { tag: 'h2', size: 'm' }  %>
      <%= f.govuk_text_field :postcode, autocomplete: 'off', width: 'one-third', label: { tag: 'h2', size: 'm' }  %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
