<% title legend_t(:client_owns_property) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :client_owns_property, @form_object.choices,
                                           :value, inline: false,
                                           legend: { text: legend_t(:client_owns_property), tag: 'h1', size: 'xl' } %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
