<%
  total_pages  = infinite_pagination_v2.total_pages
  current_page = infinite_pagination_v2.current_page
  aria_current = infinite_pagination_v2.aria_current

  next_page = infinite_pagination_v2.next_page
  prev_page = infinite_pagination_v2.prev_page

  first_page_url = completed_crime_applications_path(infinite_pagination_v2.start_page_params)
  next_page_url  = completed_crime_applications_path(infinite_pagination_v2.next_page_params)
  prev_page_url  = completed_crime_applications_path(infinite_pagination_v2.previous_page_params)
%>

<% if infinite_pagination_v2.show? %>
  <nav class="govuk-pagination" role="navigation" aria-label="results">
    <% if current_page > 1 %>
      <div class="govuk-pagination__prev">
        <%= link_to prev_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state', rel: 'prev' do %>
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
               height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title"><%= t('.previous_link') %></span>
        <% end %>
      </div>
    <% end %>

    <ul class="govuk-pagination__list">
      <% if current_page > 3 %>
        <li class="govuk-pagination__item">
          <%= link_to first_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
                      aria: { label: t('.aria_page', page: 1), current: aria_current } do %>
            <%= 1 %>
          <% end %>
        </li>

        <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>

        <% if prev_page > 1 %>
          <li class="govuk-pagination__item">
            <%= link_to prev_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
                        aria: { label: t('.aria_page', page: prev_page), current: aria_current } do %>
              <%= prev_page %>
            <% end %>
          </li>
        <% end %>
      <% elsif current_page > 1 %>
        <li class="govuk-pagination__item">
          <%= link_to prev_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
                      aria: { label: t('.aria_page', page: prev_page), current: aria_current } do %>
            <%= prev_page %>
          <% end %>
        </li>
      <% end %>

      <li class="govuk-pagination__item govuk-pagination__item--current">
        <%= link_to '#', class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
                    aria: { label: t('.aria_page', page: current_page), current: aria_current } do %>
          <%= current_page %>
        <% end %>
      </li>
      <% if current_page < total_pages %>
        <li class="govuk-pagination__item">
          <%= link_to next_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state',
                      aria: { label: t('.aria_page', page: next_page), current: aria_current } do %>
            <%= next_page %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if current_page < total_pages %>
      <div class="govuk-pagination__next">
        <%= link_to next_page_url, class: 'govuk-link govuk-pagination__link govuk-link--no-visited-state', rel: 'next' do %>
          <span class="govuk-pagination__link-title"><%= t('.next_link') %></span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
               height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        <% end %>
      </div>
    <% end %>
  </nav>
<% end %>
