<% @form_object = present(@form_object, AddressFormPresenter) %>

<% title t(@form_object.page_title) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t @form_object.heading %></h1>
    <h2 class="govuk-heading-m"> <%= t('.subheading') %></h2>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_text_field :address_line_one, autocomplete: 'off' %>
      <%= f.govuk_text_field :address_line_two, autocomplete: 'off' %>
      <%= f.govuk_text_field :city, autocomplete: 'off', width: 'one-half' %>
      <%= f.govuk_text_field :country, autocomplete: 'off', width: 'one-half' %>
      <%= f.govuk_text_field :postcode, autocomplete: 'off', width: 'one-third' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
