<% title '' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <h1 class="govuk-heading-xl"><%= service_name %></h1>
    <p class="govuk-body">Mae'r gwasanaeth hwn ar gael bob dydd rhwng 7:00am a 9:30pm. Nid yw ar gael ar wyliau banc.</p>
    <%= button_to provider_entra_omniauth_authorize_path(locale: :cy),
                  method: :post,
                  class: 'govuk-button govuk-button--start govuk-!-margin-top-4', form_class: 'app-button--start',
                  data: { module: 'govuk-button' }, role: 'button', draggable: false do %>
      <%= t('helpers.submit.start') %>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    <% end %>

    <p class="govuk-body">Darganfyddwch beth sydd ei angen arnoch i wneud cais yn y <%= govuk_link_to(t('helpers.contact.criminal_legal_aid_manual'), Settings.criminal_legal_aid_manual) %> (PDF). Ewch i adran 3: Gwneud cais am gymorth cyfreithiol troseddol.</p>
  </div>
</div>
