<% title legend_t(:financials) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_fieldset legend: { text: legend_t(:financials), size: 'xl' } do %>
        <p><%= hint_t(:financials) %></p>

        <% @form_object.attributes.keys.each do |attribute| %>
          <%= f.govuk_number_field :"#{attribute}_amount",
                                   autocomplete: 'off',
                                   label: { tag: 'h2', size: 'm'},
                                   inputmode: 'numeric',
                                   width: 'one-third',
                                   prefix_text: '£' %>

            <%= f.govuk_collection_radio_buttons :"#{attribute}_frequency",
                                                 PaymentFrequencyType.values,
                                                 :value,
                                                 legend: { size: 's', class: 'govuk-!-font-weight-regular' } %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
