<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading')%>
    </h1>

    <% t('.body_html', helpline_url: about_contact_path).each do |paragraph| %>
      <p class="govuk-body">
        <%= paragraph %>
      </p>
    <% end %>

    <%= step_form @form_object do |f| %>
      <%= f.continue_button(primary: :try_again, secondary: nil) %>
    <% end %>

    <p class="govuk-body">
      <%= link_to t('helpers.back_to_applications'), crime_applications_path %>
    </p>
  </div>
</div>
