<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: 'shared/flash_banner' %>

    <% unless @form_object.capital.valid?(:check_answers) %>
      <%= render partial: 'steps/shared/error_warning' %>
    <% end %>

    <%= govuk_error_summary(@form_object) %>

    <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%=t '.heading' %>
    </h1>

    <%= render @presenter.capital_sections %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_check_boxes_fieldset :has_no_other_assets, multiple: false do %>
        <%= f.govuk_check_box :has_no_other_assets, YesNoAnswer::YES, label: { text: label_t('yes') }, multiple: false, link_errors: true %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
