<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <%= render partial: 'shared/flash_banner' %>
  <%= govuk_error_summary(@form_object) %>

  <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

  <h1 class="govuk-heading-xl">
    <%=t '.heading' %>
  </h1>

  <%= render @presenter.capital_sections %>

  <%= step_form @form_object do |f| %>
    <%= f.govuk_check_boxes_fieldset :has_no_other_assets, legend: { size: 'm' } do %>
      <%= f.govuk_check_box :has_no_other_assets, YesNoAnswer::YES.to_s, multiple: false, label: { text: t('helpers.label.steps_capital_answers_form.has_no_other_assets') } %>
    <% end %>
    <%= f.continue_button %>
  <% end %>
</div>
