<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>
    <%= govuk_error_summary(@form_object) %>

    <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%=t '.heading' %>
    </h1>

    <%= render @presenter.capital_sections %>

    <%= step_form @form_object do |f| %>
      <%#= render partial: 'steps/shared/ownership_form_fields', locals: { f: } %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
