<% title t('.heading', residence_ownership: t(".residence_ownership.#{@form_object.residence_ownership}")) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>

    <h1 class="govuk-heading-xl">
      <%= t('.heading', residence_ownership: t(".residence_ownership.#{@form_object.residence_ownership}")) %>
    </h1>

    <p class="govuk-body"><%= t('.info') %></p>
    <%= simple_format(@form_object.home_address, class: 'govuk-body') %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :action do %>
        <% @form_object.choices.each_with_index do |option, index| %>
          <%= f.govuk_radio_button :action, option, label: { text: label_t(option, residence_ownership: label_t("residence_ownership.#{@form_object.residence_ownership}")) }, link_errors: index.zero? %>
        <% end %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
