<% title t('errors.not_enrolled') %>
<% step_header(path: Settings.portal_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= t('errors.not_enrolled') %></h1>
    <p class="govuk-body"><%= t('errors.not_enrolled_subheading') %></p>

    <h2 class="govuk-heading-s"><%= t('helpers.contact.telephone') %></h2>
    <p class="govuk-body"><%= Settings.case_enquiries_tel %>, <%= t('helpers.contact.extension_option_three') %></p>
    <p class="govuk-body"><%= t('helpers.contact.opening_hours') %></p>
    <p class="govuk-body"><%= govuk_link_to(t('helpers.contact.call_charges'), Settings.call_charges_url) %></p>
    <h2 class="govuk-heading-s"><%= t('helpers.contact.email') %></h2>
    <p class="govuk-body"><%= mail_to Settings.support_email, class: 'govuk-link--no-visited-state' %></p>
    <p class="govuk-body"><%= t('helpers.contact.email_response_time') %></p>
    <h2 class="govuk-heading-s"><%= t('helpers.contact.webchat') %></h2>
    <p class="govuk-body"><%= govuk_link_to(t('helpers.contact.webchat_adviser'), Settings.laa_contact_url) %></p>
  </div>
</div>
