<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <p class="govuk-hint govuk-!-margin-bottom-6"><%=t '.subheading' %></p>

    <%= step_form @form_object, data: { module: 'multi-action-form' } do |f| %>
      <% suggestions_id = f.field_id(:offence_name, :field, :suggestions).tr('_', '-') %>

      <%= f.govuk_text_field :offence_name, label: { size: 'm' },
                             autocomplete: 'off', autocorrect: 'off',
                             data: { suggestions: suggestions_id, module: 'govuk-input' },
                             list: suggestions_id %>

      <datalist id="<%= suggestions_id %>">
        <% Offence.all.present_each(OffencePresenter) do |o| %>
          <%= tag.option(o.name, data: { caption: o.offence_class, synonyms: o.synonyms }) %>
        <% end %>
      </datalist>

      <%= f.govuk_fieldset legend: { text: t('.offence_dates_fieldset_legend') } do %>
        <%= f.fields_for :offence_dates do |od| %>
          <% index = od.index + 1 %>

          <%= od.govuk_date_field :date_from, maxlength_enabled: true,
                                  legend: {
                                    text: t("helpers.legend.#{f.object_name}.date_from", index:),
                                    size: 's'
                                  } %>

          <%= od.govuk_date_field :date_to, maxlength_enabled: true,
                                  legend: {
                                    text: t("helpers.legend.#{f.object_name}.date_to", index:),
                                    size: 's'
                                  } %>

          <%= od.button t('.remove_button', index:), type: :submit, value: '1', name: od.field_name(:_destroy, index: od.id),
                        class: %w[govuk-button govuk-button--warning],
                        data: { module: 'govuk-button' } if @form_object.show_destroy? %>
        <% end %>
      <% end %>

      <%= f.button t('.add_button'), type: :submit, name: :add_offence_date,
                   class: %w[govuk-button govuk-button--secondary govuk-!-margin-bottom-8],
                   data: { module: 'govuk-button' } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
