<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>

    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <p class="govuk-caption-m govuk-!-margin-bottom-6"><%=t '.subheading' %></p>

    <%= govuk_inset_text(text: t('.inset')) if I18n.locale == :cy %>

    <%= step_form @form_object, data: { module: 'multi-action-form' } do |f| %>
      <% suggestions_id = f.field_id(:offence_name, :field, :suggestions).tr('_', '-') %>

      <%= f.govuk_text_field :offence_name, label: { size: 'm' },
                             autocomplete: 'off', autocorrect: 'off',
                             data: { suggestions: suggestions_id, module: 'govuk-input' },
                             list: suggestions_id %>

      <datalist id="<%= suggestions_id %>">
        <% Offence.all.present_each(OffencePresenter) do |o| %>
          <%= tag.option(o.name, data: { caption: o.offence_class, synonyms: o.synonyms }) %>
        <% end %>
      </datalist>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
