<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :client_has_dependants, @form_object.choices,
                                           :value, inline: false,
                                           legend: { text: t('.client_has_dependants'), tag: 'h1', size: 'xl' } do %>
        <p class="govuk-body"><%= t('.dependants_definition.intro') %></p>
        <ul class="govuk-list govuk-list--bullet">
          <% t('.dependants_definition.definitions').each do |definition| %>
            <li><%= definition %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
