<h1 class="govuk-heading-xl">
  Declarations
</h1>

<p class="govuk-body">Your client agrees that:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>they have instructed your law firm to represent them</li>
  <li>they have read the <%= link_to 'LAA privacy notice (opens in new tab)', Settings.laa_privacy_notice_url, target: '_blank', rel: 'noopener' %></li>
  <li>we can share their information with other government departments including the Department for Work and Pensions and HM Revenue and Customs</li>
  <li>we can check their details with bank and credit reference agencies</li>
  <li>if they are convicted of any offences, they may have to pay towards legal aid through any income or capital they have</li>
  <li>the information they have given is complete and correct</li>
  <li>they will report any changes in financial circumstance <%= 'including those of their partner' if partner_relevant %> immediately</li>
</ul>

<% if partner_relevant %>
  <p class="govuk-body">Your client's partner agrees that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>they have read the <%= link_to 'LAA privacy notice (opens in new tab)', Settings.laa_privacy_notice_url, target: '_blank', rel: 'noopener' %></li>
    <li>we can share their information with other government departments including the Department for Work and Pensions and HM Revenue and Customs</li>
    <li>we can check their details with bank and credit reference agencies</li>
    <li>the information they have given is complete and correct</li>
  </ul>

    <%= f.govuk_radio_buttons_fieldset(:legal_rep_has_partner_declaration, legend: { size: 's' }) do %>
      <% form_object.choices.each_with_index do |choice, index| %>
        <% if choice == YesNoAnswer::NO %>
          <%= f.govuk_radio_button :legal_rep_has_partner_declaration, choice.value do %>
            <%= f.govuk_text_area :legal_rep_no_partner_declaration_reason, autocomplete: 'off', width: 'one-third',
                                   extra_letter_spacing: true %>
          <% end %>
        <% else %>
          <%= f.govuk_radio_button :legal_rep_has_partner_declaration, choice.value, link_errors: index.zero? %>
        <% end %>
      <% end %>
    <% end %>
<% end %>

<div class="govuk-warning-text govuk-!-margin-bottom-0">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive govuk-visually-hidden">Warning</span>
    If they give wrong or incomplete information, do not report changes, or are found to have committed benefit fraud, they may:
    <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
      <li>be prosecuted</li>
      <li>need to pay a financial penalty</li>
      <li>have their legal aid stopped and have to pay back the costs</li>
    </ul>
  </strong>
</div>

<p class="govuk-body">You agree that:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
  <li>you have provided correct and complete information in this application</li>
  <li>you have explained to your client why they may have to pay towards legal aid and the consequences of not paying contributions on time or at all</li>
  <% if partner_relevant %>
    <li>you must get from your client and their partner and keep on file a digital signature or signed hard copy <%= govuk_link_to('of the applicant declaration (PDF, 452KB)', Settings.laa_applicant_declaration_form_url, new_tab: '') %></li>
    <li>if it is not possible to get a digital or hard copy signature from your client or their partner at the point of submitting this application, you have explained the contents of the declaration and privacy notice to them and will get a digital or hard copy signature at the earliest opportunity</li>
  <% else %>
    <li>you must get and keep on file a digital signature or signed hard copy <%= govuk_link_to('of the applicant declaration (PDF, 452KB)', Settings.laa_applicant_declaration_form_url, new_tab: '') %></li>
    <li>if it is not possible to get a digital or hard copy signature from your client at the point of submitting this application, you have explained the contents of the declaration and privacy notice to them and will get a digital or hard copy signature at the earliest opportunity</li>
  <% end %>
</ul>
