<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl">
      Enter your details to confirm the following
    </h1>

    <p class="govuk-body">Your client agrees that:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>they’ve instructed your law firm to represent them</li>
      <li>they’ve read the <%= link_to 'LAA privacy notice (opens in new tab)', Settings.portal_help_info_url, target: '_blank', rel: 'noopener' %></li>
      <li>we can share their information with other government departments like the DWP and HMRC (as stated in our privacy notice)</li>
      <li>we can check their details with bank and credit reference agencies</li>
      <li>if they are convicted of any offences, they may have to pay towards legal aid through any income or capital they have</li>
      <li>the information they’ve given is complete and correct</li>
      <li>they’ll report any changes to their financial situation immediately</li>
    </ul>

    <div class="govuk-warning-text govuk-!-margin-bottom-0">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If your client gives wrong or incomplete information, does not report changes, or is found to have committed benefit fraud, they may:
        <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
          <li>be prosecuted</li>
          <li>need to pay a financial penalty</li>
          <li>have their legal aid stopped and have to pay back the costs</li>
        </ul>
      </strong>
    </div>

    <p class="govuk-body">You agree that:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>you’ve explained to your client why they may have to pay towards legal aid and the consequences of not paying contributions on time or at all</li>
      <li>you’ve obtained a signed declaration from your client</li>
      <li>you’ve provided correct and complete information in this application</li>
    </ul>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_fieldset legend: { text: t('.legal_representative_legend') } do %>
        <%= f.govuk_text_field :legal_rep_first_name, autocomplete: 'off', width: 'three-quarters' %>
        <%= f.govuk_text_field :legal_rep_last_name, autocomplete: 'off', width: 'three-quarters' %>
        <%= f.govuk_text_field :legal_rep_telephone, autocomplete: 'off', width: 'three-quarters',
                               extra_letter_spacing: true %>
      <% end %>

      <%= f.continue_button(primary: :save_and_submit) %>
    <% end %>
  </div>
</div>
