<%# N.B. Update the updated at date at the bottom of this file when modifying this page %>

<% title 'Privacy notice' %>

<% if FeatureFlags.google_analytics.enabled? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p class="govuk-body">The ‘<%= service_name %>’ service is provided by the
          <%= link_to 'Legal Aid Agency (LAA)', 'https://www.gov.uk/government/organisations/legal-aid-agency/', rel: 'external' %>,
          part of the Ministry of Justice (MoJ).
        </p>

        <p class="govuk-body">This privacy notice covers how this service collects personal data from providers who are submitting information on behalf of their clients.</p>

        <p class="govuk-body">
          For details of how the Legal Aid Agency collects and manages the personal data submitted within the application, check the
          <%= link_to 'Legal Aid Agency privacy notice', Settings.laa_privacy_notice_url, rel: 'external' %>.
        </p>

        <h2 class="govuk-heading-l">What data we collect</h2>

        <p class="govuk-body">We collect:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>
              your portal login and office account number provided by the LAA Portal service
              (<%= link_to 'LAA Portal terms and conditions', Settings.portal_terms_url, rel: 'external' %>)
            </li>
            <li>
              your Internet Protocol (IP) address
            </li>
            <li>
              details of which version of
              <%= link_to 'web browser', 'https://www.gov.uk/support/browsers', rel: 'external' %>
              you used
            </li>
            <li>
              information on how you use the site, using <%= link_to 'cookies', cookies_path %> and page tagging techniques
            </li>
          </ul>
        </div>

        <p class="govuk-body">Where you provide your consent, we use
          <%= link_to 'Google Analytics cookies', 'https://support.google.com/analytics/topic/2919631', rel: 'external' %>.
          Google Analytics processes information about:
        </p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>the pages you visit in this service</li>
            <li>how long you spend on each page</li>
            <li>how you got to this service</li>
            <li>what you click on while you’re using the service</li>
          </ul>
        </div>

        <p class="govuk-body">We make sure you cannot be identified by Google Analytics data. We do not pass any of your personal data to Google Analytics, and Google Analytics does not store your IP address.</p>
        <p class="govuk-body">We will not combine analytics information with other data sets in a way that would identify who you are.</p>
        <p class="govuk-body">Find out <%= link_to 'how we use Google Analytics and other cookies on this service', cookies_path %>.</p>

        <h2 class="govuk-heading-l">Why we collect your data</h2>

        <p class="govuk-body">We collect your data to:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>gather feedback to improve our services</li>
            <li>monitor use of the site to identify security threats</li>
          </ul>
        </div>

        <p class="govuk-body">We use the information we collect through Google Analytics to see how you use the service and to see how well it performs on your device.</p>
        <p class="govuk-body">We do this to help make:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>sure the service is meeting the needs of its users</li>
            <li>improvements to the service</li>
            <li>performance improvements, for example improving page load time and data usage</li>
          </ul>
        </div>

        <h2 class="govuk-heading-l">Our legal basis for processing your data</h2>
        <p class="govuk-body">The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of this service.</p>
        <p class="govuk-body">The legal basis for processing data collected with Google Analytics in this service is your consent.</p>

        <h2 class="govuk-heading-l">What we do with your data</h2>

        <p class="govuk-body">The data we collect with Google Analytics cookies is transferred and stored with Google where we analyse it with Google Analytics software (Google Analytics 4). We do not allow Google to use or share this data for their own purposes.</p>
        <p class="govuk-body">No information that you provide will be shared outside the MoJ, other than with MoJ IT providers that provide services supporting the running of this service.</p>

        <p class="govuk-body">We will not:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>sell or rent data to third parties</li>
            <li>share data with third parties for marketing purposes</li>
          </ul>
        </div>

        <h2 class="govuk-heading-l">How long we keep your data</h2>

        <p class="govuk-body">We will only retain your data for as long as it is needed for the purposes set out on this page.</p>
        <p class="govuk-body">We will retain long term summary logs of interactions with the service, but these logs are fully anonymous.</p>
        <p class="govuk-body">This is managed in line with the
          <%= link_to 'Ministry of Justice Headquarters Record retention and disposition schedules',
                      'https://www.gov.uk/government/publications/record-retention-and-disposition-schedules'%>.
        </p>

        <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
        <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored. All personal data is processed in the EEA.</p>

        <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>
        <p class="govuk-body">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption.</p>

        <h2 class="govuk-heading-l">Contact us or make a complaint</h2>

        <p class="govuk-body">Contact us by email at <%= mail_to Settings.support_email %> if you:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>have a question about anything in this privacy notice</li>
            <li>think that your personal data has been misused or mishandled</li>
          </ul>
        </div>

        <h3 class="govuk-heading-m">Data Protection Officer (DPO)</h3>
        <p class="govuk-body">You can also contact our DPO:</p>
        <p class="govuk-body"><%= mail_to 'dataprotection@justice.gov.uk' %></p>
        <p class="govuk-body">
          Data Protection Officer<br>
          Ministry of Justice<br>
          102 Petty France<br>
          London<br>
          SW1H 9AJ
        </p>

        <p class="govuk-body">The DPO leads on all aspects of data protection for the MoJ.</p>

        <h3 class="govuk-heading-m">Information Commissioner</h3>
        <p class="govuk-body">When we ask you for information, we will comply with the law. If you consider that your information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection:</p>
        <p class="govuk-body"><%= mail_to 'icocasework@ico.org.uk' %></p>
        <p class="govuk-body">Telephone: 0303 123 1113</p>
        <p class="govuk-body">Textphone: 01625 545860</p>
        <p class="govuk-body">Monday to Friday, 9am to 4:30pm</p>
        <p class="govuk-body">
          <%= link_to 'Find out about call charges', 'https://www.gov.uk/call-charges', rel: 'external' %>
        </p>
        <p class="govuk-body">
          Information Commissioner’s Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          SK9 5AF<br>
        </p>

        <h2 class="govuk-heading-l">Changes to this policy</h2>

        <p class="govuk-body">We may change this privacy notice. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.</p>
      </div>
      <div class="app-c-updated-date">
        <%# TODO Implement non-hardcoded solution %>

        <p class="govuk-body-s">Last updated 20 June 2023</p>
      </div>
    </div>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p class="govuk-body">The ‘<%= service_name %>’ service is provided by the
          <%= link_to 'Legal Aid Agency (LAA)', 'https://www.gov.uk/government/organisations/legal-aid-agency/', rel: 'external' %>,
          part of the Ministry of Justice (MoJ).
        </p>

        <p class="govuk-body">This privacy notice covers how this service collects personal data from providers who are submitting information on behalf of their clients.</p>

        <p class="govuk-body">
          For details of how the Legal Aid Agency collects and manages the personal data submitted within the application, check the
          <%= link_to 'Legal Aid Agency privacy notice', Settings.laa_privacy_notice_url, rel: 'external' %>.
        </p>

        <h2 class="govuk-heading-l">What data we collect</h2>

        <p class="govuk-body">We collect:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>
              your login details and office account number for legal aid services provided by the LAA
            </li>
            <li>
              your Internet Protocol (IP) address
            </li>
            <li>
              files called <%= link_to 'cookies', cookies_path %> to save your current progress on your device and to track inactivity periods
            </li>
          </ul>
        </div>

        <h2 class="govuk-heading-l">Our legal basis for processing your data</h2>
        <p class="govuk-body">The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of this service.</p>

        <h2 class="govuk-heading-l">What we do with your data</h2>
        <p class="govuk-body">No information that you provide will be shared outside the MoJ, other than with MoJ IT providers that provide services supporting the running of this service.</p>

        <p class="govuk-body">We will not:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>sell or rent data to third parties</li>
            <li>share data with third parties for marketing purposes</li>
          </ul>
        </div>

        <h2 class="govuk-heading-l">How long we keep your data</h2>

        <p class="govuk-body">We will only retain your data for as long as it is needed for the purposes set out on this page.</p>
        <p class="govuk-body">We will retain long term summary logs of interactions with the service, but these logs are fully anonymous.</p>
        <p class="govuk-body">This is managed in line with the
          <%= link_to 'Ministry of Justice Headquarters Record retention and disposition schedules',
                      'https://www.gov.uk/government/publications/record-retention-and-disposition-schedules'%>.
        </p>

        <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
        <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored. All personal data is processed in the European Economic Area.</p>

        <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>
        <p class="govuk-body">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption.</p>

        <h2 class="govuk-heading-l">Contact us or make a complaint</h2>

        <p class="govuk-body">Contact us by email at <%= mail_to Settings.support_email %> if you:</p>
        <div class="govuk-list">
          <ul class="govuk-list govuk-list--bullet">
            <li>have a question about anything in this privacy notice</li>
            <li>think that your personal data has been misused or mishandled</li>
          </ul>
        </div>

        <h3 class="govuk-heading-m">Data Protection Officer (DPO)</h3>
        <p class="govuk-body">You can also contact our DPO:</p>
        <p class="govuk-body"><%= mail_to 'dataprotection@justice.gov.uk' %></p>
        <p class="govuk-body">
          Data Protection Officer<br>
          Ministry of Justice<br>
          102 Petty France<br>
          London<br>
          SW1H 9AJ
        </p>

        <p class="govuk-body">The DPO leads on all aspects of data protection for the MoJ.</p>

        <h3 class="govuk-heading-m">Information Commissioner</h3>
        <p class="govuk-body">When we ask you for information, we will comply with the law. If you consider that your information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection:</p>
        <p class="govuk-body"><%= mail_to 'icocasework@ico.org.uk' %></p>
        <p class="govuk-body">Telephone: 0303 123 1113</p>
        <p class="govuk-body">Textphone: 01625 545860</p>
        <p class="govuk-body">Monday to Friday, 9am to 4:30pm</p>
        <p class="govuk-body">
          <%= link_to 'Find out about call charges', 'https://www.gov.uk/call-charges', rel: 'external' %>
        </p>
        <p class="govuk-body">
          Information Commissioner’s Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          SK9 5AF<br>
        </p>

        <h2 class="govuk-heading-l">Changes to this policy</h2>

        <p class="govuk-body">We may change this privacy notice. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.</p>
      </div>
      <div class="app-c-updated-date">
        <%# TODO Implement non-hardcoded solution %>

        <p class="govuk-body-s">Last updated 04 August 2025</p>
      </div>
    </div>
  </div>
<% end %>
