<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <p class="govuk-body">
      <%= t('.page_text') %>
    </p>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_number_field(:amount,
                               label: { tag: 'h2', size: 'm' },
                               prefix_text: '£',
                               width: 'one-half') %>
      <%= f.govuk_collection_radio_buttons(:before_or_after_tax,
                                           @form_object.before_or_after_tax_options,
                                           :value,
                                           legend: { size: 's',
                                                     class: 'govuk-!-font-weight-regular' }) %>
      <%= f.govuk_collection_radio_buttons(:frequency,
                                           PaymentFrequencyType.values,
                                           :value,
                                           legend: { size: 's',
                                                     class: 'govuk-!-font-weight-regular' }) %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
