<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_date_field :appeal_lodged_date, maxlength_enabled: true, legend: { size: 's' }, segment_names: f.segment_names %>

      <%= f.govuk_radio_buttons_fieldset :appeal_original_app_submitted, legend: { tag: 'h2', size: 's' } do %>
        <% @form_object.yes_no_choices.each_with_index do |option, index| %>
          <%= f.govuk_radio_button :appeal_original_app_submitted, option, link_errors: index.zero? %>
        <% end %>
      <% end %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
