<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_check_boxes_fieldset :income_benefits, legend: { tag: 'h1', size: 'xl' } do |x| %>

        <% @form_object.ordered_payment_types.each do |type| %>
          <%= f.govuk_check_box :types, type, link_errors: true do %>
            <%= f.fields_for type.to_sym, f.object.public_send(type.to_s) do |g| %>
              <%= g.govuk_fieldset legend: nil, id: "income_benefit_#{type}" do %>
                <%= g.govuk_number_field :amount,
                                         autocomplete: 'off',
                                         inputmode: 'numeric',
                                         width: 'one-third',
                                         prefix_text: '£' %>
                <%= g.govuk_collection_radio_buttons :frequency,
                                                     PaymentFrequencyType.values,
                                                     :value,
                                                     legend: { size: 's', class: 'govuk-!-font-weight-regular' } %>
                <%= g.govuk_text_area :details if type == IncomeBenefitType::OTHER.to_s %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= f.govuk_check_box_divider I18n.t('divider_text') %>
        <%= f.govuk_check_box :types, 'none', exclusive: true %>

      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
