<% title legend_t(:cannot_check_dwp_status_page_title) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>

    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-xl"><%= legend_t(:cannot_check_dwp_status_heading)%></h1>

        <p class="govuk-body">
          <%= t('helpers.hint.steps_dwp_cannot_check_dwp_status_form.next_steps_label') %>
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= step_form @form_object do |f| %>
              <%= f.button t('helpers.submit.try_again_now'), class: 'app-button--link' %>
            <% end %>
          </li>
          <%= t('helpers.hint.steps_dwp_cannot_check_dwp_status_form.next_steps_html') %>
        </ul>
    </div>

    <div class="govuk-button-group">
      <%= link_button t('helpers.submit.save_and_continue'), edit_steps_dwp_has_benefit_evidence_path,
                      class: 'govuk-button--primary' %>

      <%= link_button t('helpers.submit.save_and_come_back_later'), edit_crime_application_path,
                      class: 'govuk-button--secondary' %>
    </div>
  </div>
</div>
