<% title t('.page_title') %>
<% step_header(path: crime_applications_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons :income_above_threshold, @form_object.choices,
                                           :value, inline: false,
                                           legend: { text: t('.income_above_threshold'), tag: 'h1', size: 'xl' } do %>
           <span class="govuk-caption-m govuk-!-margin-bottom-4">
             <%= t('.income_above_threshold_info') %>
           </span>
        <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
