<% title legend_t(:trading_start_date) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.date_input :trading_start_date, legend: { size: 'xl' } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
