<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
        <%= f.govuk_radio_buttons_fieldset(:manage_without_income, legend: { tag: 'h1', size: 'xl' }) do %>
          <% @form_object.choices.each_with_index do |choice, index| %>
            <% if choice == ManageWithoutIncomeType::OTHER %>
              <%= f.govuk_radio_button :manage_without_income, choice.value do %>
                <% f.govuk_text_area :manage_other_details %>
              <% end %>
            <% else %>
              <%= f.govuk_radio_button :manage_without_income, choice.value, link_errors: index.zero? %>
            <% end %>
          <% end %>
        <% end %>

        <%= f.continue_button %>
    <% end %>
  </div>
</div>
