<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.capital.caption') %></span>

    <%= govuk_error_summary(@form_object) %>

    <h1 class="govuk-heading-xl">
      <%= t(".heading.#{@form_object.property_type}") %>
    </h1>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_radio_buttons_fieldset :house_type, legend: { size: 's' } do %>
        <% @form_object.house_types.each_with_index do |option, index| %>
          <%= f.govuk_radio_button :house_type, option, link_errors: index.zero? %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :house_type, 'custom' do %>
          <%= f.govuk_text_field :custom_house_type, autocomplete: 'off', width: 'one-third' %>
        <%end%>
      <% end %>

      <%= f.govuk_number_field :bedrooms, inputmode: 'numeric', width: 'one-third' %>
      <%= f.govuk_number_field :value, inputmode: 'numeric', prefix_text: '£', width: 'one-third' %>
      <%= f.govuk_number_field :outstanding_mortgage, inputmode: 'numeric', prefix_text: '£', width: 'one-third' %>
      <%= f.govuk_number_field :percentage_applicant_owned, inputmode: 'numeric', suffix_text: '%', width: 'one-third' %>
      <%= f.govuk_number_field :percentage_partner_owned, inputmode: 'numeric', suffix_text: '%', width: 'one-third' if f.object.include_partner? %>
      <% if f.object.crime_application.applicant.home_address? %>
        <%= f.govuk_collection_radio_buttons :is_home_address, YesNoAnswer.values, :value, inline: true, legend: { size: 's' } %>
      <% end %>
      <%= f.govuk_collection_radio_buttons :has_other_owners, YesNoAnswer.values, :value, inline: true, legend: { size: 's' } %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
