<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_check_boxes_fieldset :partner_employment_status, legend: { tag: 'h1', size: 'xl' } do %>

        <% @form_object.choices.each_with_index do |choice, index| %>
          <span id="<%= choice %>"></span>
          <% if choice.not_working? %>
            <%= f.govuk_check_box_divider I18n.t('divider_text') %>
            <%= f.govuk_check_box :partner_employment_status, choice.to_s, exclusive: true %>
          <% else %>
            <%= f.govuk_check_box :partner_employment_status, choice.to_s, link_errors: index.zero? %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
