<h2 class="govuk-visually-hidden"><%= t('.header') %></h2>

<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.cookies'), cookies_path, class: 'govuk-footer__link' %>
  </li>

  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.contact'), about_contact_path, class: 'govuk-footer__link' %>
  </li>

  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.feedback'), Settings.feedback_survey_url, class: 'govuk-footer__link', rel: 'external' %>
  </li>

  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.privacy'), about_privacy_path, class: 'govuk-footer__link' %>
  </li>

  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.accessibility'), about_accessibility_path, class: 'govuk-footer__link' %>
  </li>

  <li class="govuk-footer__inline-list-item">
    <%= link_to t('.terms_and_conditions'), Settings.portal_terms_url, class: 'govuk-footer__link', rel: 'external' %>
  </li>
</ul>
