<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row app-inverted--card app-inverted-text">
  <div class="govuk-grid-column app-inverted-text">

    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <% if @form_object.benefit_check_result[:benefit_checker_status] == 'Yes' %>
        <h1 class="govuk-heading-l app-inverted-text"><%= t '.heading' %></h1>
      <% else %>
        <%= f.govuk_radio_buttons_fieldset(:confirm_benefit_check_result, legend: { tag: 'h1', size: 'l', class: 'govuk-fieldset__legend govuk-fieldset__legend--l app-inverted-text' }) do %>
          <% @form_object.choices.each do |choice| %>
            <%= f.govuk_radio_button :confirm_benefit_check_result, choice.value, label: { class: 'govuk-label govuk-radios__label app-inverted-text' } %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.continue_button primary_opts: { class: 'app-button--m app-button--inverted' } %>
    <% end %>
  </div>
</div>
