<% title legend_t(:salary_amount) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
      <%= f.govuk_number_field :salary_amount,
                               width: 'one-half',
                               label: { text: legend_t(:salary_amount), size: 'xl' },
                               prefix_text: '£' %>

      <%= f.continue_button %>
    <% end %>
  </div>
</div>
