<% title legend_t(:salary) %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= t('steps.income.caption') %></span>
    <%= govuk_error_summary(@form_object) %>

    <%= step_form @form_object do |f| %>
    <%= f.fields_for :salary, f.object.public_send(:salary) do |ff| %>
        <%= ff.govuk_number_field :amount,
                                  width: 'one-half',
                                  label: { text: legend_t(:salary), size: 'xl' },
                                  hint: { text: hint_t(:salary)},
                                  prefix_text: '£' %>

      <% end %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
